<%- include ('../../partials/header.ejs'); %>
<body>
    <%- include ('../../partials/navbar.ejs'); %>
   <div class="container mt-4">
    <h1>Categorias</h1>
    <hr>
    <table class="table table-bordered">
      <thead>
       <tr><th>Id</th><th>Titulo</th><th>Slug</th><th>Ações</th></tr>
      </thead>
      <tbody>
        <% categorias.forEach( categoria => {  %>
            <tr><td><%= categoria.id%></td>
                <td><%= categoria.titulo%></td>
                <td><%= categoria.slug %></td>
                <td></th>
                  <form action="/admin/categorias/editar/<%= categoria.id %>" method="GET"    style="display: inline;">
                    <input type="hidden" name="id">
                  <button style="margin-left: 10%; margin-right: 2% ;" class="btn btn-warning">Editar</button>
                </form>
                  <form action="/admin/categorias/deletar" method="post" style="display: inline;" onsubmit="EmpedirDelete(event, this)">
                    <input type="hidden" name="id" value="<%= categoria.id %>">
                    <button style="margin-right: 23% ;" class="btn btn-danger">Excluir</button></form>
                </tr>
        <% }) %>
      </tbody>
    </table>
    <a href="/admin/categorias/new" class="btn btn-primary">Criar Categoria</a>
    </div>
   </div>
   <script>

     function EmpedirDelete(event, form){
       event.preventDefault()
       var resposta = confirm('Você quer deletar mesmo esta categoria?')
       if(resposta){
           form.submit()
       }
     }
   </script>
</body>
<%- include ('../../partials/footer.ejs'); %>
