<%- include ('../../partials/header.ejs'); %>

<body>
    <%- include ('../../partials/navbar.ejs'); %>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12" >
                <h1 style="float: left;">Artigos</h1><a href="/admin/artigos/new" class="btn btn-primary mt-2"
                    style="float: right;">Novo Artigo</a>
            </div>
        </div>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% artigos.forEach( artigo => {  %>
                <tr>
                    <td><%= artigo.id%></td>
                    <td><%= artigo.titulo%></td>
                    <td><%= artigo.slug %></td>
                    <td><%= artigo.categoria.titulo %></td>
                    <td>
                        <div style="display:inline-flex;">
                            <form action="/artigos/delete/<%= artigo.id%>" method="get"
                                onsubmit="deleteArtigo(event,this)">
                                <button class="btn btn-outline-danger btn-sm mr-1 ml-1">Delete</button>
                            </form>
                            <a href="/admin/artigos/editar/<%= artigo.id%>"
                                class="ml-1 btn btn-outline-success btn-sm">Editar</a>
                        </div>
                    </td>
                    <% }) %>
            </tbody>
        </table>

    </div>

    <script>
        function deleteArtigo(ev, form) {
            ev.preventDefault()
            var resposta = confirm('Quer mesmo deletar esse artigo?')
            if (resposta) {
                form.submit()
            }


        }

    </script>

</body>
<%- include ('../../partials/footer.ejs'); %>